.app__container {
  position: relative;
  height: 40.625rem;
}
.app {
  --app-chats-load-time: 900ms;
  @include breakpoint-up(large) {
    position: relative;
    top: 10%;
    left: 45%;
    transform: translateX(0);
  }
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 17.1875rem;
  height: 35.5rem;
  background-color: $white;
  border-radius: 30px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  &__innercontainer {
    width: 15.8rem;
    height: 34.5rem;
    background-color: $lightGrayishViolet;
    border-radius: 22px;
  }
  &__header {
    width: 15.8rem;
    height: 5rem;
    position: relative;
    background: linear-gradient(to right, $lightViolet, $LightMagenta);
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 32px;
    padding-inline: 16px;
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 130px;
      height: 22px;
      background-color: #fff;
      border-bottom-left-radius: 11px;
      border-bottom-right-radius: 11px;
    }
  }
  &__header-content {
    display: flex;
    align-items: center;
  }
  &__header-img {
    width: 2.1875rem;
    height: 2.1875rem;
    border-radius: 50%;
    border: 3px solid #fff;
    display: inline-block;
    text-align: center;
  }
  &__header-img img {
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 50%;
  }
  &__header-text {
    font-size: 0.75rem;
    color: $white;
    padding-left: 0.6875rem;
    p {
      color: $paleviolet;
      padding-top: 0.375rem;
    }
  }
  /*----icon----*/
  .fa-solid {
    color: $white;
    padding-right: 0.625rem;
  }
  .dots {
    padding-left: 3.4375rem;
    padding-right: 0;
  }
  &__chatbox {
    padding: 12px 10px 11px;
  }
  &__chat-animate {
    animation-name: chats-load;
    animation-duration: var(--app-chats-load-time);
    animation-timing-function: ease-in;
    animation-delay: var(--app-load);
    animation-fill-mode: forwards;
    transform: scale(0);
  }
  &__chat {
    width: 9.5rem;
    font-size: 0.625rem;
    line-height: 1.3;
    padding: 7px;
    padding-bottom: 10px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 12px;
    margin-bottom: 0.5625rem;

    &-left {
      background-color: hsl(204, 7%, 85%);
      color: $moderateviolet;
    }
    &-right {
      background-color: $white;
      color: $DesaturatedDarkviolet;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }
    &-right:last-child {
      width: 6rem;
      margin-left: 3.4rem;
      margin-bottom: 15px;
    }
  }

  &__right-chart-container {
    margin-top: 1rem;
    margin-left: 4.8125rem;
  }
  &__chart-img {
    margin-bottom: 0.5rem;
  }
  &__chart-img img {
    width: 2.75rem;
    height: 2.75rem;
    border-radius: 0.5rem;
    margin-left: 3px;
  }
  &__chat-cta {
    width: 10.5rem;
    font-size: 0.625rem;
    font-weight: 500 !important;
    color: $white;
    background: linear-gradient(to left, $lightViolet, $LightMagenta);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 16px;
    margin-bottom: 0.375rem;
    p {
      display: inline-block;
    }
    span {
      font-size: 0.9375rem;
      padding-left: 0.9375rem;
    }
  }
  #span {
    padding-left: 2.125rem;
  }
  form {
    position: relative;
    margin-top: 0.5rem;
  }
  input[type='text'] {
    width: 228px;
    height: 36px;
    padding-left: 1rem;
    border-radius: 18px;
    border: 0;
  }
  &__radio-btn {
    display: inline-block;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    border: 2px solid $veryLightMagenta;
    margin-right: 2px;
  }
  button {
    width: 1.625rem;
    height: 1.625rem;
    position: absolute;
    right: 6%;
    top: 15%;
    border-radius: 50%;
    border: 0;
    background-color: $veryDarkDesaturatedViolet;
    cursor: pointer;

    img {
      width: 6px;
    }
  }
}

@keyframes app-load {
  0% {
    left: 0;
    transform: translateX(-200%);
  }
  100% {
    left: 50%;
    transform: translateX(-50%);
  }
}

@keyframes chats-load {
  0% {
    transform: scale(0);
  }
  90% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
