.main__content {
  @include breakpoint-up(large) {
    max-width: 30%;
    text-align: left;
    margin: 0 0;
  }
  max-width: 80%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
  h1 {
    @include breakpoint-up(large) {
      font-size: 2.375rem;
    }
    color: $VeryDarkDesaturatedViolet;
    padding-top: 2.5rem;
    animation: content-load 300ms ease-in 800ms;
    animation-fill-mode: forwards;
    transform: translateX(-20px);
    opacity: 0;
  }
  p {
    color: $DarkGrayishViolet;
    font-size: 1rem;
    line-height: 1.5;
    padding-top: 1.5rem;
    animation: content-load 300ms ease-in 1100ms;
    animation-fill-mode: forwards;
    transform: translateX(-20px);
    opacity: 0;
  }
}
@keyframes content-load {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
