$paleviolet: hsl(276, 100%, 81%);
$moderateviolet: hsl(276, 55%, 52%);
$DesaturatedDarkviolet: hsl(271, 15%, 43%);
$GrayishBlue: hsl(206, 6%, 79%);
$VeryDarkDesaturatedViolet: hsl(271, 36%, 24%);
$DarkGrayishViolet: hsl(270, 7%, 64%);

//Gradients
$LightMagenta: hsl(293, 100%, 63%);
$lightViolet: hsl(264, 100%, 61%);

//secondary colors
$white: hsl(0, 0%, 100%);
$lightGrayishViolet: hsl(270, 20%, 96%);
$veryDarkDesaturatedViolet: hsl(271, 36%, 24%);
$veryLightMagenta: hsl(289, 100%, 72%);
